*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
  color: rgb(60, 59, 59);
}
.container{
  width: 50%;
  background-color: rgb(191, 191, 247);
  margin: 5rem auto auto auto;
  border-radius: 1rem;
  padding: 2rem;
}
.detectedLang{
  margin-bottom: 2rem;
}
.detectedLang> span{
  background-color: rgb(5, 5, 124);
  border-radius: .5rem;
  color: white;
  padding: .5rem;
}
.upperSection{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.form-input{
  width: 90%;
}
.textarea{
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
.iconWrapper{
  width: 7%;
}
.closeIcon{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.lowerSection{
  position: relative;
}
.selectWrp{
  display: flex;
  gap: 1rem;
}
.transTo{
  width: fit-content;
}
.select{
  width: 10rem;
  padding: .3rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  background-color: rgb(5, 5, 124);
  color: white;
  cursor: pointer;
}
.outputP{
  width: 90%;
  min-height: 4rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
.copyBtn{
  position: absolute;
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  right: 0;
  bottom: 0;
  background-color: rgb(5, 5, 124);
  color: white;
}
 
/* ............Media Queries.......... */

@media screen and (max-width: 1050px){
  .container{
    width: 80%;
    padding: 3rem;
  }
}
@media screen and (max-width: 700px){
  .container{
    width: 100%;
    margin: 0;
    border-radius: unset;
  }
}
@media screen and (max-width: 540px){
  .copyBtn{
    position: unset;
  }
}